.gradingform_btec-regrade {padding:10px;background:#FFDDDD;border:1px solid #F00;margin-bottom:10px;}
.gradingform_btec-restored {padding:10px;background:#FFFFDD;border:1px solid #FF0;margin-bottom:10px;}
.gradingform_btec-error {color:red;font-weight:bold;}

.gradingform_btec_editform .status {font-weight:normal;text-transform:uppercase;font-size:60%;padding:0.25em;border:1px solid #EEE;}
.gradingform_btec_editform .status.ready {background-color:#e7f1c3;border-color:#AAEEAA;}
.gradingform_btec_editform .status.draft {background-color:#f3f2aa;border-color:#EEEE22;}

.gradingform_btec {overflow:auto;}

.gradingform_btec.editor .criterion .controls,
.gradingform_btec .criterion .description,
.gradingform_btec .criterion .remark {vertical-align: top; }

/*.gradingform_btec.editor .criterion .controls,
.gradingform_btec .criterion .description,
.gradingform_btec .criterion .remark {padding:0px;width:4%;}*/

.gradingform_btec .frequent {width:6%;}
.gradingform_btec .controls {width:6%;}


 .gradingform_btec .criteria {height:100%;}

.gradingform_btec .criterion {border:1px solid #DDD;overflow: hidden;width:99%}
.gradingform_btec .criterion.even {background:#F0F0F0;}


.gradingform_btec .criterion .description .criterionmaxscore input {width:20px;}
.gradingform_btec .criterion .description .criterionname {font-weight:bold;}
.gradingform_btec .criterion label {font-weight:bold; padding-right: 5px}

.gradingform_btec .plainvalue.empty {font-style: italic; color: #AAA;}
.gradingform_btec .plainvalue.editname {font-weight:bold;}

/* Make invisible the buttons 'Move up' for the first criterion and 'Move down' for the last, because those buttons will make no change */
.gradingform_btec.editor .criterion.first.last .controls .delete input,
.gradingform_btec.editor .criterion.first .controls .moveup input,
.gradingform_btec.editor .criterion.last .controls .movedown input {display:none;}

/* replace buttons with images */
.gradingform_btec.editor .delete input,
.gradingform_btec.editor .moveup input,
.gradingform_btec.editor .movedown input{text-indent: -1000em;cursor:pointer;border:none;}
.gradingform_btec.editor .criterion .controls .delete input {width:20px;height:15px;background: transparent url("[[pix:t/delete]]") no-repeat center top;margin-top:4px;}
.gradingform_btec.editor .moveup input {width:20px;height:15px;background: transparent url("[[pix:t/up]]") no-repeat center top;margin-top:4px;}
.gradingform_btec.editor .movedown input {width:20px;height:15px;background: transparent url("[[pix:t/down]]") no-repeat center top;margin-top:4px;}

.gradingform_btec.editor .addcriterion input,
.gradingform_btec.editor .addcomment input {background: transparent url("[[pix:t/addgreen]]") no-repeat;display:block;color:#555555;font-weight:bold;text-decoration:none;}
.gradingform_btec.editor .addcriterion input,
.gradingform_btec.editor .addcomment input {background-position: 5px 8px;height:30px;line-height:29px;margin-top:2px;margin-left:0px;margin-bottom:14px;padding-left:20px;padding-right:10px;}

.gradingform_btec .options .optionsheading {font-weight:bold;font-size:1.1em;padding-bottom:5px;}
.gradingform_btec .options .option {padding-bottom:2px;}
.gradingform_btec .options .option label {margin-left: 5px;}
.gradingform_btec .options .option .value {margin-left: 5px;font-weight:bold;}

.gradingform_btec .optionsheader a:link {
    color:black;
    font-size:1.4em;
    cursor: pointer;
}
.gradingform_btec .collapsibleregioncaption{
    padding-bottom:3px;
}
.gradingform_btec .criterion .description.error {background:#FFDDDD;}

/* special classes for elements created by bteceditor.js */
.gradingform_btec.editor .hiddenelement {display:none;}
.gradingform_btec.editor .pseudotablink {background-color:transparent;border:0 solid;height:1px;width:1px;color:transparent;padding:0;margin:0;position:relative;float:right;}

.gradingform_btec .markingbteccomment {cursor: pointer;}
.jsenabled .gradingform_btec .markingbteccomment:before {content: url("[[pix:t/add]]");padding-right:2px;}
.gradingform_btec .commentheader  {font-weight:bold;font-size:1.1em;padding-bottom:5px;}

.gradingform_btec .criterionname {width: 250px;}

.jsenabled .gradingform_btec .criterionnamelabel {display: none;}
.jsenabled .gradingform_btec .criterionshortname {font-weight:bold;}
.gradingform_btec .criterionshortname {font-weight:bold;}

.gradingform_btec table {width: 100%}
.gradingform_btec .criteriondescriptionmarkers {width: 20%;}
.gradingform_btec .markingbtecremark {width:95%;height:100%;}
.gradingform_btec .remark {width: 75%;padding-right:1%;}
/*mavg */
.gradingform_btec .markingbtecyesno {width: 6%; text-align:center; padding:0px;}
.gradingform_btec .criteriondescriptionscore {display: inline;}
.gradingform_btec .descriptionreadonly {border-left:solid thin #c0c0c0;width: 30%;}